DB_HOST=localhost
DB_PORT=5432
DB_NAME=acme_saas
DB_USER=acme_app
DB_PASSWORD=acme_app
DB_MIGRATION_USER=acme_owner
DB_MIGRATION_PASSWORD=acme_owner
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/acme
